.root {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 136px;
}

.banner {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 60px;
}

.nameContainer {
  display: flex;
  gap: 14px;
  align-items: center;
}

.name {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: inherit;
  text-decoration: dashed underline;
  text-decoration-color: inherit;
}
