.container {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
}

.label {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.label.reverse {
  flex-direction: row-reverse;
}

.checkbox {
  position: relative;

  width: 14px;
  height: 14px;

  background-color: var(--color-dark-900);
  border-color: var(--color-light-900);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;

  &:active:not([disabled])::after,
  &:focus:not([disabled])::after {
    background-color: var(--color-dark-100);
  }

  &:hover::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-300);
    border-radius: 50%;
  }
}

.checkbox.disabled.checked {
  background-color: var(--color-light-100);
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
  }
}

.disabled {
  cursor: initial;
  color: var(--color-dark-100);
  border-color: var(--color-dark-100);

  &:hover::after {
    all: unset;
  }
}
