$border-width: 1px;
$width: 210px;
$small-width: 50px;

@mixin common {
  cursor: pointer;
  font-family: inherit;
  color: inherit;

  &[data-state='open'] {
    border: $border-width solid var(--color-dark-100);
  }
}

@mixin small {
  padding: 0 4px;
  border-radius: 2px;
}

.trigger {
  @include common;

  all: unset;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: $width;
  padding: 6px 12px;

  background-color: var(--color-dark-700);
  border: $border-width solid var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
    border: $border-width solid var(--color-dark-100);
  }

  &:focus-visible {
    border: calc($border-width * 2) solid var(--color-info-500);
    outline: none;
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: default;
    color: var(--color-dark-300);
  }

  &[data-state='open'] {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.content {
  z-index: 9999;
  width: $width;
  background-color: var(--color-dark-700);
  border: $border-width solid var(--color-dark-100);
}

.item {
  @include common;

  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 12px;

  background-color: var(--color-dark-700);

  &:hover,
  &:focus {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}

.smallTrigger {
  @include small;

  gap: 4px;
  width: $small-width;
  text-align: center;
}

.smallContent {
  width: $small-width;
}

.smallItem {
  @include small;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.label {
  font-size: var(--font-size-s);
  color: var(--color-dark-100);
}
