.userTirgger {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.userWrapper {
  gap: 8px;
}

.userImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.userData {
  display: flex;
  flex-direction: column;
}

.userName {
}

.userEmail {
  color: var(--color-dark-100);
}

.userItemLink {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--color-light-100);
  text-decoration: none;
}
