.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 12px;
}

.fileInput {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 16px;
    height: 16px;
  }
}
