.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root {
  display: flex;
  flex-direction: column;

  width: 532px;
  height: fit-content;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-height: 85vh;
  padding: 24px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500);
}

.close {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.trigger {
  position: static;
}
