@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  background-color: rgb(0 0 0 / 70%);

  animation: overlay-show 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 532px;
  max-width: 100%;
  max-height: 80vh;
  padding: 24px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);

  :focus-visible {
    outline: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;

  &::before {
    content: '';

    position: absolute;
    top: 70px;
    left: 0;

    width: 532px;
    height: 1px;

    background-color: var(--color-dark-500);
  }
}

.close {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.trigger {
  position: static;
}
