.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  margin-top: 36px;
  text-align: center;
}

.cardWrapper {
  display: flex;
  justify-content: center
}

.question {
  text-align: left;
}


.caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-dark-100);
}

.answer {
  text-align: left;
}

.buttons {
  margin-top: 20px;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.image {
  width: 350px;
  height: 120px;
}

.image img{
  display: block;
  width: 350px;
  height: 120px;
  object-fit: cover;
}