.layout {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 136px;
}

.main {
  position: relative;

  overflow-y: auto;
  display: flex;
  justify-content: center;

  margin-top: var(--header-height);
}
