.card {
  gap: 36px;
  margin-top: 36px;
}

.caption {
  color: var(--color-dark-100);
}

.backButton {
  align-self: flex-start;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.imageContainer {
  display: flex;
}

.image {
  display: flex;
  width: 100%;
  object-fit: contain;
}

.submitButton {
  margin-top: 12px;
}
