.root {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.topMargin {
  margin-top: 24px;
}

.description {
  color: var(--color-light-900);
}
